.SideBarStyles {
  display: grid;
  grid-template-columns: repeat(1, 200px);
  grid-template-rows: repeat(10, 10vh);
  background-color: #1b263b;
  width: 200px;
  font-family: "Jost", sans-serif;
  color: whitesmoke;
  padding: 35px;
}
.SideBarStyles > h3 {
    border-bottom:2px solid rgb(204, 180, 135);
}

.SideBarStyles > items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 10px;
  padding: 20px;
}

.items:hover {
  color: rgb(204, 180, 135);
  font-weight: bolder;
  height: 50px;
  cursor: pointer;
}
