.Card {
  display: flex;
  flex-direction: column;
  color: black;
  border: none;
  border-radius: 4px;
  width: 250px;
  padding: 5px;
  margin-top: 20px;
  box-shadow: 2px 2px 2px 2px  rgb(171, 189, 196);
  background-color: honeydew;
  padding: 10px 12px;
}

.Card > button {
  width: min-content;
}
.Card > input{
    border: none;
    padding: 10px;
    background-color: #d7fcd4;

}
